<html lang="{S_USER_LANG}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>{PAGE_TITLE} - {SITENAME}</title>
	<style type="text/css">
	<!-- INCLUDE style.css -->
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript">
	<!-- INCLUDE main.js -->
	</script>
</head>

 <body>
	<!--[if lt IE 9]><script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script><![endif]-->
	<div id="header">
    </div>
	<div id="main"></div>
	<div id="users"></div>
	<div id="controlbox">
		<table border="0" cellspacing="0px" cellpadding="2px" width="100%"><tr>
			<!--td>{L_CHAT}:</td-->
			<td width="100%">
				<input id="message" type="text" autocomplete="off" size="50" maxlength="250" style="width: 100%;">
			</td>
			<td style="overflow: visible;"><div style="margin-left: -21px; width: 16px; height: 16px;"><img id="icon-loading" style="display: block;" width="16px" height="16px" src="./ext/Sumanai/simplechat/media/loading.gif" title="{L_UPDATING}" alt="{L_UPDATING}" /><img id="icon-error" style="display: none;" width="16px" height="16px" src="./ext/Sumanai/simplechat/media/error.gif" title="{L_SERVER_ERROR}" alt="{L_SERVER_ERROR}" /><img id="icon-sending" style="display: none;" width="16px" height="16px" src="./ext/Sumanai/simplechat/media/sending.gif" title="{L_SENDING}" alt="{L_SENDING}" /></div></td>
			<td><a id="btn-send" href="#">{L_SAY}</a></td>
		</tr></table>
		<table border="0" cellspacing="0px" cellpadding="2px" width="100%"><tr>
			<td>{L_COLOR}:</td>
			<td width="200px"><script language="javascript" type="text/javascript">WriteColorTable(5, 200, 3);</script></td>
			<td>&nbsp;&nbsp;&nbsp;{L_UPDATING}:</td>
			<td width="200px"><select id="refresh" name="refresh" onchange="SetDelay(this.options[this.selectedIndex].value);"><option value="5">5 {L_SECONDS}<option value="10">10 {L_SECONDS}<option value="15" selected>15 {L_SECONDS}<option value="30">30 {L_SECONDS}<option value="45">45 {L_SECONDS}<option value="60">60 {L_SECONDS}</select></td>
			<!-- IF U_ACP or U_MCP --><td width="100%">{L_MESVISIBLE}{ACPCHEK}</td><!-- ENDIF -->
			<td><a id="btn-sound" title="{L_SOUND}" href="#" class="btn-link" style="background-image: url('./ext/Sumanai/simplechat/media/sound.png');"></a></td>
		</tr></table>
	</div>
	<div id="smiles"><!-- BEGIN smiley --><a href="#" onclick="MessageEdit.Smilie('{smiley.A_SMILEY_CODE}'); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a><!-- END smiley --></div>
	<div id="footer">
		{MES}{COPYRIGHT} :: [<span id="msg_counter">0</span> {L_N_MESSAGES} | <span id="upd_counter">0</span> {L_N_UPDATES}]
	</div>
	<audio id="audio-notify" preload><source src="./ext/Sumanai/simplechat/media/event.ogg" type='audio/ogg; codecs=vorbis'><source src="./ext/Sumanai/simplechat/media/event.mp3" type="audio/mpeg"></audio>
</body>

</html>